*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
}

/*Animación de varios elementos*/
    @keyframes fadeInUp {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
        
    .animado{
        animation:fadeInUp 3s;
    }

/*------------------HEADER------------------*/
.navbar ul li{
    list-style-type: none;
    display: inline;
    padding-inline: 3vw;
    font-size: 20px;
    overflow:visible;
    align-items: center
}

.navbar ul{
    width: 100%;
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    position: fixed;
    z-index: 10;
}

.navbar ul a{
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color:rgb(151, 29, 29);
}

.navbar ul a:hover{
    text-decoration: underline;
}

.resaltado{
    text-decoration: underline !important;
}

.navbar img{
    width: 150px;
    height: auto;
    position: relative;
    top:-20px;
}

#carrito-compra{
    width: 50px;
    height: auto;
    position: absolute;
    top: 5px;
    right: 10px;
}

/*-------------------MAIN-------------------*/
main{
    background-color: white;
    padding-block: 150px;
    width: 100%;
    height: 100%;
}

/*-------------------LINK INICIO-------------------*/
/*Sección Black Friday*/
#enlace-blackFriday{
    text-decoration: none;
    animation:fadeInUp 3s;
}

@keyframes fadeInUp {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.container-blackFriday{
    padding-bottom: 20px;
    background-color: rgb(27, 27, 27);
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blackFriday{
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
}

.blackFriday h3{
    margin-top: 5%;
    font-size: 5vw;

}

.blackFriday h4{
    margin-block: 10px;
    font-size: 3vw;
}

.blackFriday a{
    border-radius: 40%;
    padding: 1vw 2vw;
    border: 0;
    font-size: 2vw;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: white;
    background-color: rgb(167, 10, 119);
}

.container-blackFriday img{
    width: 50%;
    height: auto;
}

/*Sección Carousel*/
.contenedor-carusel{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: (#CB8589, 5%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#carousel-galeria{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#carousel-menu-main {
    position: relative;
    height: 30vw;
    width: 57vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
}

#carousel-menu{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-25%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#texto1-Actual{
    font-size: 4vw;
    line-height: 3rem;
    width: 220px;
    height: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: 5%;
}

#texto2-Actual {
    font-size: 2vw;
    width: 220px;
    height: 40px;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    left: 20%;
}

#boton-1, #boton-2 {
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#boton-1 {
    left: 2%;
}

#boton-2 {
    right: 2%;
    transform: translateY(-50%) rotate(180deg);
}

#image {
    position: absolute;
    top: center;
    left: 60%;
    transform: translate(-50%, 0);
    transition: transform 0.65s ease-in-out;
    height: 20vw;
    width: 20vw;
    min-width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#texto1-Actual,
#texto2-Actual {
    position: relative;
    transition: transform 0.65s ease-in-out;
}

#texto1-Actual.siguiente,
#texto2-Actual.siguiente{
    transform: translateY(-100%);}

#image.siguiente {
    transform: translate(-50%, -100%);
}

#texto1-Actual.anterior,
#texto2-Actual.anterior{
    transform: translateY(100%);
}

#image.anterior {
    transform: translate(-50%, 100%);
}

#texto1-Actual,
#texto2-Actual{
    transform: translateY(0%);
}

#image {
    transform: translate(-50%, 0%);
}

/*Para eliminar el carousel en teléfonos y dispotivos pequeños*/
.oculto{
    display: none !important; 
}


/*Sección NUESTRO CATÁLOGO*/
#nuestro-catálogo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-block: 5vw;
    margin-inline: 10px;
}

.caja-nuestro-catálogo{
    flex: 20%;
    min-width: 200px;
    border: solid #000000 1px;
    background: #292929;
    padding: 20px;
    overflow:hidden;
    text-align: center;
}

.caja-nuestro-catálogo a{
    font-size: 20px;
    text-decoration: none;
    color:white;
    font-family:'Courier New', Courier, monospace;
}

/*Sección JSON*/
#archivo-json{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto; 
}

.noticia{
    flex: 20%;
    min-width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin:10px;
    padding: 5px;
    background-color: rgb(222, 230, 189);
    text-align: center;
}

/*---GALERIA DINAMICA---*/

#galeria-text{
    padding-top: 15vw;
    padding-bottom: 100px;
    text-align: center;
    padding-inline: 20vw;
}

#galeria-text h3{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    color: #c25d27;
}

#galeria-text h4{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.galeria-contenedor-main h3{
    text-align: center;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    color: #00858580;
    margin-bottom: 20px;
}


.grid-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card-container{
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    gap: 20px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

.card-container.show{
    transform: translateY(0);
    opacity: 1;
}



/*--------------FORMULARIO--------------*/
.presupuestointro{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.cajaformulario{
    background-color: #e6e6e6;
    padding-block: 200px;
}

#formulario{
    margin: auto;
    background-color: #4e4e4e;
    color: white;
    width: 500px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#formulario ul{
    list-style-type: none;
}

#formulario a{
    color: white;
}

li label {
    display: block;
    margin-bottom: 10px;
  }
  
li img {
    display: block;
    margin: 5px 0;
    width: 150px;
    height: auto;
}

li img:hover{
    width: 200px;
}

#plazo{
    margin-bottom: 30px;
    width: 100px;
    height: 30px;
}
/*Estilo de los spans de error*/
.error{
    color: rgb(255, 112, 112);
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}

/*Estilos de caja de precio final*/
#precio_final{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    width: 120px;

}
/*Envio form*/
.formbutton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    border: solid 1px black;
    background-color: #d4d4d4;
    padding: 5px 10px;
}



/*---------CONTACTO/MAPA---------*/
.contenedor-contacto{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 20px;
}

#contacto-main h3{
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    color: #000000;

}

.contacto-colum{
    margin: 20px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    
}

.contacto-colum-1 {
    flex: 0 0 70%;
}
  
.contacto-colum-2 {
    flex: 0 0 28%;
    background-color: rgb(236, 236, 236);
    padding-top: 10px;
}

.contacto-colum-2 h4{
    font-size: 20px;
    padding-left: 10px;
}

.sede {
    font-size: 18px;
    margin-block: 10px;
    background-color: #d1d1d1;
    border: solid  1px rgb(170, 170, 170);
    margin-inline: 10px;
    padding: 5px;
}

#mapita{
    width: 100%;
    height: 35vw;
    min-width: 200px;

}

.otras-sedes{
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
}

/*------------------FOOTER------------------*/
footer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    background-color: rgb(44, 44, 44);

}

footer a{
    color: white;
    text-decoration: none;
}

.social_icon{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.pie_pag{
    margin-inline: 10px;
    flex: 10%;
    flex-direction: column;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pie_pag h4{
    font-size: 30px;
}

.caja_pie_pag{
    color:rgb(189, 189, 189);
    display: block;
    margin-bottom: 2px;
}

#input-correo{
    background-color: rgb(54, 54, 54);
    color:rgb(196, 196, 196);
    font-size: 15px;
    width: 300px;
    height: 30px;
    border: rgb(119, 119, 119) solid 1px;
}
.pie_pag button{
    background-color: rgb(207, 207, 207);
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 0;
    font-size: 15px;
    border: rgb(119, 119, 119) solid 1px;
}

.copyright{
    color: rgb(199, 199, 199);
    width: 100%;
    background-color: rgb(22, 22, 22);
    padding-block: 30px 50px;
    text-align: right;
    padding-right: 20px;
    margin-top: 30px;
    
}